@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sedan:ital@0;1&display=swap');

:root {
    --padding_Lateral: 2rem;
    --color_bg: #121212;
    --color_text: #fff;
    --font_title: 'Inria Serif', serif;
    --font_text: 'Sedan', sans-serif;
    --color_bg_card: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .3)),
        url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hotbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    & .hotbar__itens {
        & li {
            margin-right: 2rem;
            cursor: pointer;
            padding: .5rem 1.5rem;
            border-radius: 10px;
            transition: .3s;

            &:hover {
                background-color: #212121;
                color: #fff;
            }
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    width: 50%;
    padding: 3rem;
    border-radius: 10px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;

    & h2 {
        margin-bottom: 2rem;
    }

    & p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    & button {
        background-color: #000;
        color: #fff;
        padding: 1rem 2rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup.active.negado {
    background-color: #ff0000;
}


header {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 1.5;
}

a:hover {
    color: rgb(185, 24, 51);
}

.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: var(--color-light);
    text-align: center;


    & h1 {
        font-size: clamp(20px, 4vw, 40px);
        justify-content: center;
        color: white
    }
}

.btn {
    border: 3px solid #dc143c;
    padding: 8px 30px;
    background-color: #dc143c;
    border-radius: 70px;
    transition: background-color .5s;
    margin-top: 10px;

    &:hover {
        background-color: transparent;
    }
}

.vinhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Vertical alignment */
    justify-content: center;
    /* Horizontal alignment */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.vinhos:hover {
    background-color: rgba(22, 22, 22, 0.37);
}








/************************************** estilização do login ***************************************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

.container-login {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .3)),
        url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


textarea:focus,
input:focus {
    outline: none;
}

a,
label {
    font-size: .8rem;
    /* Não fica fixo, ajusta a fonte ao dispositivo */
}

a:hover {
    color: #08558B;
}

/* container-login */
#login-container {
    background-color: #FFFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* formulario */
form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,
input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08558B;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFFF;
    background-color: #08558B;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1B223C;
    transition: .5s;
}


/************************************** estilização do formulario de contato ***************************************/

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.container-form {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .3)),
        url(./images/vinicola.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.h1form {
    text-align: center;
    color: var(--color_text);
    padding: 50px;
    font-size: 38px;
}
.form2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
    backdrop-filter: blur(6px);

}

.lab {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color_text);
    font-size: 18px;
}

.inputform,
select,
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    border-radius: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;

}
